apiVersion: 1

notifiers:
  - name: "Telegram Alerts"
    type: "telegram"
    uid: "telegram_bot"
    isDefault: true
    settings:
      botToken: "{{ grafana_telegram_bot_token }}"  
      chatId: "{{ grafana_telegram_chat_id }}"                              
      parseMode: "Markdown"                              
      disableNotifications: false
