---
- name: Install Docker
  apt:
    name:
      - docker.io
      - docker-compose
    state: present
    update_cache: yes

- name: Ensure Docker is running
  systemd:
    name: docker
    enabled: true
    state: started

- name: Create monitoring directory
  file:
    path: "{{ monitoring_dir }}"
    state: directory

- name: Copy docker-compose.yml
  template:
    src: docker-compose.yml.j2
    dest: "{{ monitoring_dir }}/docker-compose.yml"

- name: Copy prometheus config
  template:
    src: prometheus.yml.j2
    dest: "{{ monitoring_dir }}/prometheus.yml"

- name: Start monitoring stack
  command: docker-compose up -d
  args:
    chdir: "{{ monitoring_dir }}"
